@font-face {
  font-family: Montserrat;
  font-style: italic;
  src: url('../assets/font/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url('../assets/font/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url('../assets/font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url('../assets/font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Montserrat;
  font-weight: 900;
  src: url('../assets/font/Montserrat-Extrabold.ttf') format('truetype');
}
