#navbar {
  .nav-list {
    position: relative;

    &:hover,
    &.active {
      span {
        color: #ff6000;
      }

      &::before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #ff6000;
        animation: progress 300ms forwards;
      }
    }
  }

  &.nav-offset {
    box-shadow: 0px -5px 8px 1px #000;
    background-color: white;
    height: 70px;

    .nav-logo,
    .nav-list {
      color: #000;

      &:hover {
        color: #ff6000;
      }
    }
  }
}

@keyframes progress {
  to {
    width: 50%;
  }
}

@media (max-width: 375px) {
  #navbar {
    height: 60px;

    &.nav-offset {
      height: 50px;
    }
  }
}
