@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('styles/font.scss');

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif, system-ui;
  }
}

:root {
  --primary: #ff6000;
  --secondary: #f5b947;
  --greeny-gray: #ebf4f3;
  --white: #ffffff;
}

html {
  font-size: 17px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}

// .alice-carousel__dots-item {
//   width: 20px !important;
//   height: 4px !important;
//   border-radius: 2px !important;
//   &.__active {
//     background-color: var(--primary) !important;
//   }
// }

.alice-carousel__stage {
  cursor: grab;
}

.main-wrapper {
  @apply px-4 md:px-10 lg:px-16 xl:px-[10%] 2xl:px-[15%];
}

.nav-wrapper {
  @apply px-4 sm:px-4 md:px-5 lg:px-14 xl:px-20 2xl:px-24;
}

.title {
  @apply text-h3 leading-tight sm:text-h2 md:text-h1 lg:text-h1;
}

.sub-title {
  @apply text-h2;
}
